.title{
  top: 250px;
  left: 758px;
  width: 191px;
  height: 97px;
  color: var(--unnamed-color-000000);
  font: normal normal normal 66px/97px Anton;
  letter-spacing: 0.92px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
}